{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}
{% block content %}
<div class="landing-page-image">
    <div class="jumbotron text-center" id="jumbotron-landing">
        <h1 class="display-4">Sustentassol</h1>
        <h2 class="lead">App to calculate in a simple and fast way your solar energy projects</h2>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#loginModal">Start here</a>
          <div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog" style="background-color: #212121;">
               <div class="modal-content" style="background-color: #212121;">
                  <div class="modal-header" style="background-color: #212121;">
                     <h4 class="modal-title">Login</h4>
                  </div>
                  <div class="modal-body">
                     <!--<form action="" method="POST"> 
                        <div class="form-group">
                           <label>Username:</label>
                           <input type="text" class="form-control" name="username" required="1">
                        </div> 
                         <div class="form-group">
                           <label>Password:</label>
                           <input type="password" class="form-control" name="password" required="1"> 
                        </div>                         
                        <div class="form-group">
                           <button class="btn btn-primary" type="submit">Login</button> 
                        </div>
                        <div class="form-group">
                          <a href="{{ url_for('register') }}">Not a user? Register here</a> 
                       </div>
                     </form> -->
               <form action="" method="post" class="form-signin" style="color: white;">
                  {{ form.hidden_tag() }}
                  {{ form.username(class="form-control", placeholder="Username") }}
                  <br>
                  {{ form.password(class="form-control", placeholder="Password") }}
                  <br>
                  {{ form.submit(class="btn btn-primary") }}
                  <br>
                  <div class="checkbox mb-3">
                     <br>
                     <h6>Do not have an account?</h6>
                     <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}">Register here</a>
                  </div>
                 
               </form>
                </div>
                <div class="modal-footer"> 
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                </div>
            </div>
        </div>
        </p>
    </div>    
</div>
{% endblock %}
