{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}
{% block content %}
<div class="landing-page-image">
    <div class="jumbotron">
        <h1 class="display-4">Sustentassol</h1>
        <h2 class="lead">App to calculate in a simple and fast way your solar energy projects</h2>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#loginModal">Start here</a>
          <div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog" style="background-color: #212121;">
               <div class="modal-content" style="background-color: #212121;">
                  <div class="modal-header" style="background-color: #212121;">
                     <h4 class="modal-title">Login</h4>
                  </div>
                  <div class="modal-body">
                     <form action="" method="POST"> 
                        <div class="form-group">
                           <label>Username:</label>
                           <input type="text" class="form-control" name="name" required="1">
                        </div> 
                         <div class="form-group">
                           <label>Password:</label>
                           <input type="email" class="form-control" name="email" required="1"> 
                        </div>                         
                        <div class="form-group">
                           <button class="btn btn-primary" type="submit">Login</button> 
                        </div> 
                     </form> 
                </div>
                <div class="modal-footer"> 
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                </div>
            </div>
        </div>
        </p>
    </div>    
</div>
{% endblock %}
{% block footer %}
<footer class="text-center text-white" style="background-color: #212121;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook 
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
         Twitter 
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
         Google 
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        Instagram 
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>-->
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="https://www.linkedin.com/in/matheus-baars"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="https://github.com/matheusbaars"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Made by:
      <a class="text-dark" href="#">Matheus Baars</a>
    </div>
    <!-- Copyright -->
  </footer>
{% endblock %}